<style>   
   .titulo {
     background-color: black;
     height: 26px;
     color: beige;
     font-size: 15px;
     font-weight: 400;
     text-align: center;
     padding-top: 5px;
   }
   
   .boxcheck {
     text-align: center;
     justify-content: center;
     margin-left: 5px;
     font-size: 15px;
     padding: 10px;
   }
   
   .boxcheckpai {
     background-color: rgba(107, 107, 107, 0.166);
     height: auto;
     margin-bottom: 10px;
   }
   
   .containerform {
    display: flex;
   }
   
   .containerduo {
     height: 50%;
     display: inline-block;
   }
</style>

<div class="divTableRow">

  <form>
    <div class="form-group">
       <label>Angle:</label>
       <input id="newAngle" type="number" name="newAngle" style="cursor: auto;" value="{{newAngle}}" min="0" max="720" placeholder="degrees"
          required>
       
    </div>
  </form>
  
</div>