<style>   
   .titulo {
     background-color: black;
     height: 26px;
     color: beige;
     font-size: 15px;
     font-weight: 400;
     text-align: center;
     padding-top: 5px;
   }
   
   .boxcheck {
     text-align: center;
     justify-content: center;
     margin-left: 5px;
     font-size: 15px;
     padding: 10px;
   }
   
   .boxcheckpai {
     background-color: rgba(107, 107, 107, 0.166);
     height: auto;
     margin-bottom: 10px;
   }
   
   .containerform {
    display: flex;
   }
   
   .containerduo {
     height: 50%;
     display: inline-block;
   }
</style>

<div class="divTableRow">

<div class="divTableCell">
   <p class="titulo">Message</p>
   <div class="boxcheckpai">
      <div class="boxcheck">
         <input type="radio" id="position_message" name="extra_position" value="message" checked style="cursor: pointer;"> 	&nbsp;  
         <label for="position_message" style="cursor: pointer;"> Message </label>
         <input type="radio" id="position_yes" name="extra_position" value="position_yes" style="cursor: pointer;">  	&nbsp; 
         <label for="position_yes" style="cursor: pointer;"> Yes </label>
         <input type="radio" id="position_no" name="extra_position" value="position_no" style="cursor: pointer;">  	&nbsp; 
         <label for="position_no" style="cursor: pointer;"> No </label>
      </div>
   </div>
   <textarea name="text" id="message" cols="20" rows="3" placeholder="Insert your text here. ex: wasp "></textarea>
</div>

<p class="titulo">Position:</p>
<div class="boxcheckpai">
   <form>
      <div class="form-group">
         <label style="text-align:left;">Custom Position:</label>
         <select id="custom_position" name="custom_position" style="cursor: pointer;">
            <option value="custom_position_choose">Choose</option>
            <option value="position_01">{{customPositionLabel1}}</option>
            <option value="position_02">{{customPositionLabel2}}</option>
            <option value="position_03">{{customPositionLabel3}}</option>
            <option value="position_04">{{customPositionLabel4}}</option>
            <option value="position_05">{{customPositionLabel5}}</option>
            <option value="position_06">{{customPositionLabel6}}</option>
            <option value="position_07">{{customPositionLabel7}}</option>
            <option value="position_08">{{customPositionLabel8}}</option>
            <option value="position_09">{{customPositionLabel9}}</option>
         </select>
      </div>
   </form>
   
   <p class="titulo">Others:</p>
   <form>
      <div class="form-group">
         <label style="text-align:left;">Move Type: </label>
         <select id="movetype" name="movetype"style="cursor: pointer;">
            <option value="moveType1">Standard</option>
            <option value="moveType2">No Sound/No Animation</option>
            <option value="moveType3">Animation at End</option>
            \     
         </select>
      </div>
   </form>
   
   <form>
      <div class="form-group">
         <label>Delay Min:</label>
         <input id="extraTimeMin" type="number" name="extraTimeMin" style="cursor: auto;" value="{{extraTimeMinDefault}}" min="1" max="10000" placeholder="miliseconds"
            required>
         <label> Delay Max:</label>
         <input id="extraTimeMax" type="number" name="extraTimeMax" style="cursor: auto;" value="{{extraTimeMaxDefault}}" min="1" max="10000" placeholder="miliseconds"
            required>            
      </div>
   </form>

   <form>
      <div class="form-group">
         <label>Move Time (speed) higher number is slow:</label>
         <input id="moveSpeed" type="number" name="moveSpeed" style="cursor: auto;" value="{{moveSpeedDefault}}" min="500" max="3000" placeholder="miliseconds" required>         
      </div>
      &nbsp;
      <br>
   </form>
   
</div>